:root {
    --bg-color: #EBECF0;
    --text-primary: #565860;
    --text-secondary: #BABECC;
    --shadow-light: #FFF;
    --shadow-dark: #BABECC;
    --accent-green: #43a943;
    --accent-green-light: #b1e6b1;
    --accent-red: #c13434;
}

* {
    box-sizing: border-box;
    
}

body {
    background-color: var(--bg-color);
    font-size: 16px;
     color: var(--text-secondary);
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    
}

.request {
    padding: 20px 0;
     display: flex;
    flex-direction: column;
    gap: 25px;
     align-items: center;
}

.request__heading {
    margin: 0;
     color: var(--text-primary);
}

.request__card {
    display: flex;
     flex-direction: column;
    justify-content: start;
     gap: 5px;
}

.request__input-name,
.request__input-description,
.card__name,
.card__description {
    margin: 0;
    overflow-wrap: break-word;
     color: var(--text-primary);
    resize: none;
     line-height: 30px;
    outline: none;
    border: none;
    width: 300px;
    border-radius: 6px;
     background-color: var(--bg-color);
    box-shadow: inset 2px 2px 5px var(--shadow-dark), inset -2px -2px 4px var(--shadow-light);
     transition: all 0.1s ease-in-out;
}

    .request__input-name:focus,
    .request__input-description:focus {
        box-shadow: inset 1px 1px 2px var(--shadow-dark), inset -1px -1px 2px var(--shadow-light);
        
    }

.request__button,
.card__button {
    color: var(--accent-green);
    font-weight: 700;
     width: 300px;
    border: none;
     line-height: 35px;
    cursor: pointer;
     background-color: var(--bg-color);
    border-radius: 12px;
    box-shadow: -5px -5px 20px var(--shadow-light), 5px 5px 20px var(--shadow-dark);
     transition: all 0.2s ease-in-out;
    
}

    .request__button:hover,
    .card__button:hover {
        box-shadow: -2px -2px 5px var(--shadow-light), 2px 2px 5px var(--shadow-dark);
        
    }

    .request__button:active,
    .card__button:active {
        box-shadow: inset 1px 1px 2px var(--shadow-dark), inset -1px -1px 2px var(--shadow-light);
        
    }

.tasks {
    margin: 30px 0 0;
    padding: 0;
    display: flex;
     flex-direction: column;
    gap: 30px;
    
}

.card {
    display: flex;
    justify-content: space-between;
     gap: 20px;
    align-items: center;
    
}

.card__name,
.card__description {
    box-shadow: -2px -2px 5px var(--shadow-light), 2px 2px 5px var(--shadow-dark);
     line-height: 30px;
     padding-left: 20px;
}

.card__checkbox {
    display: none;
    
}

.card__checkbox-label {
    cursor: pointer;
     display: block;
    width: 25px;
     height: 25px;
    border-radius: 4px;
    background-color: var(--bg-color);
    box-shadow: -5px -5px 15px var(--shadow-light), 5px 5px 15px var(--shadow-dark);
     transition: all 0.2s ease-in-out;
}

    .card__checkbox-label:hover {
        box-shadow: -2px -2px 5px var(--shadow-light), 2px 2px 5px var(--shadow-dark);
        
    }

.card__checkbox:checked + .card__checkbox-label {
    background-color: var(--accent-green-light);
    box-shadow: inset 2px 2px 5px var(--shadow-dark), inset -2px -2px 4px var(--shadow-light);
    
}

.card__name {
    flex-basis: 20%;
}


.card__description {
    flex-basis: 65%;
}



.card__button {
    width: 90px;
     color: var(--accent-red);
}

.card__name--done,
.card__description--done {
    text-decoration: line-through;
     color: var(--text-secondary);
}
